@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

:root {
    --app-gray-1: #fafafd;
    --app-gray-2: #828B97;
    --app-gray-3: #3E4959;
    --app-gray-4: #EEEFF2;
    --app-gray-5: #F8F8F9;
    --app-white: #FFFFFF;
    --app-black: #3E4959;
}

body {
    background-color: var(--app-gray-4);
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}